<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <div >
        <header>
            <h1>
                <a href="/">Tech Blogosphere</a>
            </h1>
            <nav class="nav-wrapper">
                <ul id="nav-mobile" class="left">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li> 
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {{{ body }}}
        </main>
        <footer class="page-footer">
            Thanks for visiting!
        </footer>
    </div>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>