<form name="loginform" id="loginform">
<input type="text" name="username" id="username" placeholder="enter user name"/>
<input type="password" name="password" id="password" placeholder="enter password"/>
<button type="submit">Submit</button>



</form>

<script src="/js/login.js"></script>